@import "../vendor/bootstrap/less/bootstrap.less";

@import "../vendor/bootswatch/lumen/variables.less";
@import "../vendor/bootswatch/lumen/bootswatch.less";

.alert-wrapper {
	position: absolute;
	width: 300px;
	left: 50%;
	margin-left: -150px;
}

.led {

	&[data-colour*="yellow"][data-status*="true"] {
		color: @brand-warning;
	}

	&[data-colour*="red"][data-status*="true"] {
		color: @brand-danger;
	}
}